<div class="logo">
    <img class="logo-img" src="../../../assets/imgs/shopeame.png" alt="Logo shopeame">
</div>

<nav>
    <a class="option" routerLink="/">
        <img class="iconmenu" src="../../../assets/imgs/homa.png" alt="home"/>
        <p>Home</p>
    </a>
    <a class="option" routerLink="/products">
        <img class="iconmenu" src="../../../assets/imgs/busqueda.png" alt="products"/>
        <p>Productos</p>
    </a>
    <a class="option" routerLink="/gestion">
        <img class="iconmenu" src="../../../assets/imgs/configuraciones.png" alt="gestion"/>
        <p>Gestión</p>
    </a> 
</nav>

