.home {
    background-color: white;
    padding: 20px;
    border-radius: 3%;
    max-width: 70%;
    margin: 0 auto; 
	float: none !important;
    margin-top: 5%;
}

h1 {
    text-align: center;
}

.question {
    margin-top: 40px;
}